<div class="bg-white rounded">
  <h1>Imie<%= @user.name %></h1>
  <h1>Nazwisko<%= @user.surname %></h1>
</div>

<div class="d-flex flex-column">
  <h1 class="text-center mt-4">TWOJA PÓŁKA</h1>

  <div class="row g-3 mb-5">
    <% @user.items.each do |item| %>
      <%= render partial: 'items/item', locals: { item: item, can_edit: true, in_trade: false } %>
    <% end %>
  </div>
</div>
