<h1>Dodaj nowy przedmiot</h1>

<%= form_with model: @item do |form| %>
  <div>
    <%= form.label :tytuł %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
